<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>text_color.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05A1628B1B97769D00E4AD48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05A1629F1B97769E00E4AD48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05A162AA1B97769E00E4AD48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
